
@import url('https://fonts.googleapis.com/css2?family=Epilogue&display=swap');

:root {
    font-family: 'Epilogue', sans-serif;
}

header {
    height: 60vh;
    margin-bottom: 2.5em;
}

h1 {
    text-align: center;
}

h2 {
    margin-left: .5em;
    margin-bottom: 1em;
}

.adjust {
    padding: 0;
    text-indent: 2rem;
}

.indent {
    text-indent: .5rem;
}

.p-card {
    background: #55928D;
    color: black;
    border: 2px solid black;
    box-shadow: 0 0 .25rem black;
    padding: 1rem;
    margin-bottom: 1em;
    line-height: 2;
}

.center {
    text-align: center;
}

.shift-down {
    position: absolute;
    top: 30%;
}

#github-img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

